body {
    background-color: black;
}
.intro {color: #ffffff;
text-align: center;}
.intro2{color: #ffffff;
    text-align: center;}
.TooBig{width: 500px;}
.TooBig{length: 230px;}
.TooWide{height: 230px;}
.TooToo{height: 230px;}